Repository OHMS-DeAI/ohms-model, changes with the owners that CODEOWNERS names for each.
All owners: @ohms-core-team, @ohms-model-leads, @ohms-backend-team, @ohms-storage-team, @ohms-security-team, @ohms-governance-team, @ohms-infra-team, @ohms-api-team, @ohms-devops-team, @ohms-docs-team

Add canister storage and management features for quantized models
  .github/workflows/ci.yml
  Cargo.toml
  canister_ids.json
  dfx.json
  src/api.rs
  src/domain/mod.rs
  src/services/mod.rs
  src/services/storage.rs
Owners: @ohms-devops-team, @ohms-model-leads, @ohms-core-team, @ohms-backend-team, @ohms-storage-team, @ohms-security-team

Refactor README for ohms-model repository
  README.md
Owners: @ohms-docs-team, @ohms-model-leads

Enhance model activation process with stable storage integration
  src/services/mod.rs
Owners: @ohms-backend-team, @ohms-model-leads

Update model handling to integrate NOVAQ types and dependencies
  Cargo.toml
  src/api.rs
  src/domain/mod.rs
Owners: @ohms-core-team, @ohms-model-leads, @ohms-backend-team

Update Cargo.toml to use workspace dependencies for improved management
  Cargo.toml
Owners: @ohms-core-team, @ohms-model-leads

Refactor NOVAQ model integration and update serialization handling
  Cargo.toml
  src/api.rs
  src/domain/mod.rs
  src/ohms_model.did
  src/services/storage.rs
Owners: @ohms-core-team, @ohms-model-leads, @ohms-backend-team, @ohms-api-team, @ohms-storage-team, @ohms-security-team

Revise README for OHMS Model Repository
  README.md
Owners: @ohms-docs-team, @ohms-model-leads

Update .gitignore and README.md; remove SECURITY.md
  .gitignore
  README.md
  SECURITY.md
Owners: @ohms-core-team, @ohms-model-leads, @ohms-docs-team, @ohms-security-team

Remove CI workflow configuration from .github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @ohms-devops-team, @ohms-model-leads

CODEOWNERS:

# OHMS-Model Code Owners - Model Repository Canister

# Global owners - require approval from at least one
* @ohms-core-team @ohms-model-leads

# Model Repository core logic
/src/api.rs @ohms-backend-team @ohms-model-leads
/src/domain/ @ohms-backend-team @ohms-model-leads
/src/services/ @ohms-backend-team @ohms-model-leads

# Storage and governance (critical)
/src/services/storage.rs @ohms-storage-team @ohms-model-leads @ohms-security-team
/src/services/governance.rs @ohms-governance-team @ohms-model-leads

# Infrastructure and security
/src/infra/ @ohms-infra-team @ohms-model-leads
/src/infra/guards.rs @ohms-security-team @ohms-model-leads

# Model Repository Candid interface
/src/ohms_model.did @ohms-api-team @ohms-model-leads
dfx.json @ohms-devops-team @ohms-model-leads

# Documentation
*.md @ohms-docs-team @ohms-model-leads

# Build and deployment
Cargo.toml @ohms-core-team @ohms-model-leads
Cargo.lock @ohms-core-team @ohms-model-leads
.github/ @ohms-devops-team @ohms-model-leads

# Security (model integrity)
SECURITY.md @ohms-security-team @ohms-model-leads
